/* Configura el body y html para usar Flexbox en toda la página */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Fondo de tornado de cuadrados de colores claros */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background-color: #f0f0f0; /* Color de fondo base */
}

.background-squares {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

/* Configuración de los cuadrados */
.square {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: square-move 20s linear infinite;
  opacity: 0.8;
  border-radius: 10px;
}

/* Animación de los cuadrados */
@keyframes square-move {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(200px, 200px) rotate(180deg) scale(1.1);
  }
  100% {
    transform: translate(-200px, -200px) rotate(360deg) scale(1);
  }
}







h1, h2 {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 30px;
  font-size: 1.8rem;
  color: #2c3e50;
}

header h5 {
  color: #7f8c8d;
}

p, li {
  font-size: 1.1rem;
  color: #34495e;
}

section {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "• ";
  color: #3498db;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} 

footer {
  background-color: #e1e1e1;
  color: #333;
  padding: 15px 0;
}


.botones-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaciado entre los botones */
}


/* neon link */
.neon-link {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.neon-link:hover {
  background-color: #555;
}

/* steampunk-link*/
.steampunk-link {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.steampunk-link:hover {
  background-color: #555;
}




/* retrofuturismo*/
.retrofuturismo {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.retrofuturismo:hover {
  background-color: #555;
}





/* Distopias*/
.Distopias {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.Distopias:hover {
  background-color: #555;
}






/* Postciberpunk*/
.Postciberpunk {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.Postciberpunk:hover {
  background-color: #555;
}





/* neon-rosa*/
.neon-rosa {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.neon-rosa:hover {
  background-color: #555;
}







/* herramientas*/
.herramientas {
  display: block;
  width: 200px; /* Ancho del botón */
  padding: 10px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.herramientas:hover {
  background-color: #555;
}



