body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2 {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 30px;
  font-size: 1.8rem;
  color: #2c3e50;
}

header h5 {
  color: #7f8c8d;
}

p, li {
  font-size: 1.1rem;
  color: #34495e;
}

section {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "• ";
  color: #3498db;
}
.video-container {
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center;     /* Centramos verticalmente */
    height: 100vh;           /* El cuerpo ocupa el 100% de la altura del viewport */
    margin: 0;  
} 